[run]
source =
    .
omit =
    tests/*
    .venv/*
    ui/*
    scripts/*
    logs/*
    docs/*
    static/*
    setup.py

[report]
exclude_lines =
    pragma: no cover
    if __name__ == .__main__
    raise NotImplementedError
    pass
fail_under = 75
show_missing = True

[paths]
source =
    .
    services/
    api/
